<ion-view view-title="About">
    <ion-content class="padding">
        <div class="card">
            <div class="item item-divider text-center">
                <h1>ToDo App!</h1>
            </div>
            <div class="item text-center">
                version 1.0
                <br/>
                <br/> designed & developed by
                <br/> Ernesto Rendon
                <br />Site: <a href="http://www.ernestorendon.net" target="_blank">http://www.ernestorendon.net</a>
                <br />Ionic-Example</a>
                <br/>
                <br/> Built using:
                <br/> JavaScript, AngularJS, Cordova, & Ionic
                <br/>
                <br/>
            </div>
        </div>
    </ion-content>
</ion-view>
