<div class="modal">

  <!-- Modal header bar -->
  <ion-header-bar class="bar-secondary">
    <h1 class="title" ng-bind-html="taskModalTitle()"></h1>
    <button class="button button-clear button-positive" ng-click="closeAddTaskModal()">Cancel</button>
  </ion-header-bar>

  <!-- Modal content area -->
  <ion-content>

    <form ng-submit="newTask(task)" ng-if="!task.id">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="What task do you need to do?" ng-model="task.title">
        </label>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive">Create Task</button>
      </div>
    </form>


    <form ng-submit="updateTask(task)" ng-if="task.id">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="What task do you need to do?" ng-model="task.title">
        </label>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive">Update Task</button>
      </div>
    </form>

  </ion-content>

</div>