<ion-view view-title="{{activeProject.title}} - Tasks">
<ion-nav-buttons side="right">
    <button class="button button-icon ion-plus" ng-click="newTask()">Add</button>
    <button class="button" ng-click="toggleShowReorder()">Reorder</button>
    <button class="button button-icon icon ion-ios-minus-outline" style="color:red;" ng-click="toggleShowDelete()"></button>
    <!-- <button class="button button-icon icon ion-minus-circled" ng-click="toggleShowDelete()"></button> -->
</ion-nav-buttons>


    <ion-content class="padding">
        <!-- List to thru projects -->
        <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="true">
            <ion-item ng-repeat="item in activeProject.tasks" class="item-thumbnail-left">
                <img ng-src="{{item.img}}">
                <h2>{{item.title}}</h2>
                <p>{{item.isCompleted}}</p>
                <p>{{item.description}}</p>
                <ion-option-button class="button-positive" ng-click="share(item)">
                    Share
                </ion-option-button>
                <ion-option-button class="button-info" ng-click="edit(item)">
                    Edit
                </ion-option-button>
                <ion-delete-button class="ion-minus-circled" ng-click="deleteTask(item)"></ion-delete-button>
                <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

