/* Empty. Add your own CSS if you like */


/* Completed task styles */
.is-item-complete div.item-content {
    text-decoration: line-through;
    border-color: #28a54c;
    background-color: #33cd5f;
    /*background-image: linear-gradient(0deg, #28a54c, #28a54c 50%, transparent 50%);*/
    color: #fff; 
}